
/******************* Universal Style ***********************/
body 
{
    float:left;
    width:100%;
    margin:0 0 0 0;
    padding:0 0 0 0;
    font-family:Calibri;
}
ul li
{
	padding:0 0 0 0;
	margin:0 0 0 0;
	list-style:none;
}
input[type=select]
{
	min-height:100px;
	max-height:120px;
	border:1px solid red;
}

.autoList
{
    position: absolute;
    width: 200px;
    z-index: 200000;
    top: 0;
    left: 0;
}
/**************** Common theme Style ******************/
.maincontainer
{
    float:left;
    position:relative;
    width:100%;
}
.maininnercontainer
{
    clear:both;
    margin:0 auto;
    width:1004px;
    min-height:200px;
}
.divPopupBackground
{
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.3;
    filter: alpha(opacity=30);
    background-color:#000000;
    display:none;
    z-index:99;	
}
.arromenu
{
	margin:0 0 0 0;
	padding:0 0 0 0;
	position:absolute;
	width:100px;
	background-color:#012e59;
	z-index:9999;	
	text-align:left;
	border-radius:5px 5px 5px 5px;
	display:none;
}
.arromenu li
{
	float:left;
	width:95%;
	color:#ffffff;
	cursor:pointer;	
	padding:5px 0 5px 5px;
	text-align:left;
}
.arromenu li:hover
{
	text-decoration:underline;
}
.btnCommonstyle
{
	font-family:Calibri;
    font-size: 13px;
    height: 25px;        
    border: 1px solid #6593a3;
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    background-color:#012e59;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px #005f87;
    cursor: pointer;       	
}
.btnCommonGOstyle
{
	font-family:Calibri;
    font-size: 13px;
    height: 20px;        
    border: 1px solid #6593a3;
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    padding:1px 7px 2px 7px;
    margin:0 0 0 0;
    background-color:#012e59;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px #005f87;
    cursor: pointer;       	
}
input[type=text]
{
    border: solid 1px silver;
    font-family:Arial,sans-serif;
    font-size: 12px;    
    height: 21px;
    padding:2px 0 0 3px;
    text-shadow: 0 1px #F0F0F0;
    background-color: #ffffff;
}
input[type=text]:focus
{
    font-family:Arial,sans-serif;
    font-size: 12px;
    color: #000000;
    height: 21px;
    padding:2px 0 0 3px;
    background-color: #ffffff;   
    border: solid 1px #1179aa;
}
.mainpageheader
{
	float:left;
	width:100%;
	font-size:14px;
	font-weight:bold;	
	text-align:left;
}
.JourneyHeading
{
	float:left;
	width:100%;
	margin:0 0 0 10px;
	font-weight:bold;
}
.actSubHeading
{
	clear:both;
	float:left;
	font-size:15px;
	padding:10px 0 10px 0;
	font-weight:bold;
}
.divElementElearningPage
{
    clear: both;
    float: left;
    width: 135px;
    height: 22px;
    background-color: #ffffff;
    background: url('../Images/droparrow.png') right top no-repeat;
    border: solid 1px silver;
    cursor: pointer;
    font-family:Arial;
    color:#000000;
    font-size:11px;
    padding: 2px 0 0 3px;
}

.childElementDiv
{
    position: absolute;
    min-height: 20px;
    max-height: 200px;
    overflow-y: scroll;
    background-color: #ffffff;
    display: none;
    font-size:11px;
    z-index:99999;
    border-bottom: solid 1px silver;
    border-right: solid 1px silver;
    border-left: solid 1px silver;
}
.showaSMSsendpopup
{
	position:absolute;
	width:500px;
	background-color:#ffffff;
	padding:0px 0 20px 0;
	border-radius:5px 5px 5px 5px;
	display:none;
}
.Leadssortingarrowname
{
	float:left;
	width:90%;
	padding:2px 0 0 10px;
	text-align:left;
}
/*************  Calendar Ajax Popup ******************/
.MyCalendar
{
	position: absolute; 	
	 z-index: 99999;
}
.MyCalendarPopup
{
    top:160px;
    color:White;
    background-color:#01203e;
	position: absolute; 
	font-weight:bold;	
	 z-index: 100000;
}

.MyCalendarPopup .ajax__calendar_other .ajax__calendar_day,
.MyCalendarPopup .ajax__calendar_other .ajax__calendar_year
{
	display:none;
}
.MyCalendar .ajax__calendar_container 
{
    border:1px solid #646464;
    background-color:#ffffff;
    color:black;   
    z-index: 9999999;
}
.MyCalendar .enddat_daysTableHeader
{
    text-align:center;
}
.MyCalendar .ajax__calendar_other
{
    text-align:center;
}
.MyCalendar .ajax__calendar_days .ajax__calendar_day
{
    color:#108fba;
}
.MyCalendar .ajax__calendar_other .ajax__calendar_day,
.MyCalendar .ajax__calendar_other .ajax__calendar_year {
    color: red;
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day,
.MyCalendar .ajax__calendar_hover .ajax__calendar_month,
.MyCalendar .ajax__calendar_hover .ajax__calendar_year {
    color: white;
    background-color:#b78e2b;      
}
.MyCalendar tr td
{
    padding: 1px 1px 1px 1px;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day,
.MyCalendar .ajax__calendar_active .ajax__calendar_month,
.MyCalendar .ajax__calendar_active .ajax__calendar_year {
    color: green;
    font-weight:bold;
}
/**------------------ Asp Calendar Style ---------------**/
.aspcalendar
{
	float:left;
	width:100%;
	border:1px solid gray;
}
.aspcalendar table
{
	border:transparent;
	color:#2779bd;
	font-size:18px;
	font-weight:bold;	
	background-color:#dbedf9;
}
.daycalendar a
{
	float:left;	
	width:100%;
	height:100px;
	text-align:right;
	font-size:12px;
	background-color:#dbedf9;
	border:1px solid gray;
}
/*.othermonthdaystyle
{
	float:left;	
	width:100%;
	height:100px;
	text-align:right;
	font-size:12px;
	background-color:#dbedf9;
	border:1px solid gray;	
}*/
.othermonthdaystyle a
{
	float:left;	
	width:100%;
	height:100px;
	text-align:right;
	font-size:12px;
	border:1px solid gray;	
}
.btn
{
    color:white;
    background-color:Gray;
    
    
}
/******************** Jquery Calendar popup **********************/
.popupcalendar
{     
    position:relative;
    display:none;
    z-index:999;
    background-color:#e0effa;        
	border-radius:10px;
}
.calenderpopupmaincontainer
{
	float:left;
	width:400px;
	min-height:100px;
}
.popupmoveclose
{
    float:left;
    width:95%;
    height: 100%; 
    text-align: right;
    margin:5px 5px 5px 5px;
    padding:5px;
    cursor: move;
    border-radius:10px;
    border:1px solid #81afd1;
}
.popupmoveclose:hover
{
    background-color:#e7f5f8;
}
.popupmoveclose .divClose:hover
{
    cursor:pointer;
}
.Calendarpopuptitle
{
    float:left;   
    text-align:left;
    font-size:18px;
    font-family:Trebuchet MS, sans-serif;
}
.Calendarpopupclose
{
    float:right;
    width:100px;
    margin:2px 0 0 0;
}
.Calendarpopupcontent
{
    clear:both;
	float:left;
	width:99%;
	margin:10px 0 0 3px;
}
.calenderrow
{
    clear:both;
	float:left;
	width:100%;
	padding:0 0 15px 0;
}
.calenderlable
{
	float:left;
	width:100px;
	min-height:2px;
	font-size:12px;
	text-align:left;
}
.calendertxt
{
	float:left;
	width:270px;
	font-size:13px;
	text-align:left;
}
/***************** Skin Style **************************/
.lnkLeftMenus
{
	color:#0355a7;
	text-decoration:none;
	font-size:15px;
}
.lnkLeftMenus:hover
{
	text-decoration:underline;
}
.lnkMainbodymenu
{
	float:left;
	width:100%;
	color:#ffffff;
	text-decoration:none;
	font-size:13px;
	padding:6px 0 5px 0;
	font-size:10px;
	font-weight:bold;
}
.lnkMainbodymenu:hover
{
	text-decoration:underline;
}
.lnkBanner
{
	color:#2970b4;
	text-decoration:none;
	font-size:12px;
}
.lnkBanner:hover
{
	text-decoration:underline;
}

/************* Leads Submenu *********************************/
.Leadssubmenucontainer
{
	float:left;
	width:100%;
	margin:10px 0 0 0;
	text-align:right;
}
.LeadsSubmenuforAll
{
    float:left;
    width:100%;
    margin-top:10px 0 0 0;
    text-align:right;
}

/************************* Banner Style **********************/
.bannermaincontainer
{
    clear:both;
    float:left;
    width:100%;
    min-height:100px;
}
.bannercontainer
{
    clear:both;
    float:left;
    width:100%;
    min-height:124px;
    background:url('../Images/Login_03.png') repeat-x;
}
.bannerlogocontainer
{
    float:left;
    width:171px;
    height:93px;
    margin:7px 0 0 10px;
}
.bannercentercontainer
{
    float:right;
    width:550px;
     min-height:100px;
     margin:7px 10px 0 0px;
}
.bannersearchcontainer
{
    float:left;
    width:350px;
    min-height:50px;
    margin:20px 0 0 0;
    background:url('../Images/Postlogin_08.png') no-repeat;
}
.bannersearchtext
{
    float:left;
    width:230px;
    margin:5px 0 0 13px;
}
.BannerSearchTxt
{
    float:left;
    width:225px;
    height:30px;
    margin:5px 0 0 0;
    color:Gray;
    border:0;
}
.BannerSearchTxt:focus
{
	color:Black;
}
.bannersearchbtn
{
    float:left;
    width:47px;
    height:48px;
}
.banneradvancesearch
{
	clear:both;
	float:left;
	width:80%;
	margin:5px 0 0 0;
	text-align:right;
}
.bannerhomemenucontainer
{
    float:left;
    width:60px;
    margin:20px 0 0 5px;
}
.bannerhomeimg
{
    clear:both;
    width:100%;   
    text-align:center; 
}
.userimage
{
	margin:5px 0 0 0;
}
.bannerhometxt
{
    clear:both;
    width:100%;
    margin:8px 0 0 0;
    font-size:12px;
    color:#000000;
    text-align:center;
}
.bannerrightcontainer
{
    float:right;
    width:200px;
    min-height:100px;
    margin:7px 10px 0 0px;
}
.bannerrightdropdowncontainer
{
     clear:both;
    float:left;
    width:100%;
    margin:20px 0 0 0;
}
.bannerdropdown
{
    clear:both;
    float:right;
    width:182px;
    height:30px;
    background:url('../Images/bannerdrop.png') no-repeat;
}
.bannerinnerdropdown
{
    float:left;
    width:165px;
    height:20px;
    padding:0 0 0 0;
    margin:4px 0 0 8px;   
}
.ddlbannerselect
{
    float:left;
    width:160px;     
    padding:0 0 0 0;
    margin:2px 0 0 0; 
    background-color:transparent;
    border:0px; 
}
.bannerlogoutcontainer
{
    clear:both;
    float:left;
    width:100%;
    margin:25px 0 0 0;
    text-align:right;
}
/*********************** Body Content and left,right panel style ******************/
.mainbodycontainer
{
	clear:both;
	float:left;
	width:100%;
	background-color:#fdfdfd;
	min-height:500px;	
}
/********* Left Panel *******************/
.mainleftpanelcontainer
{
	float:left;
	width:16%;			
	min-height:300px;	
	overflow:hidden;
}
.leftpanelinnercontainer
{
	float:left;
	width:100%;
}
.leftpaneluserphoto
{
	float:left;
	width:100%;
	height:60px;
	text-align:center;
}
.leftpanelmenucontainer
{
	float:left;
	width:100%;
	min-height:100px;
}
.leftpanelmenus
{
	float:left;
	width:100%;
	padding:5px 0 10px 0;
	border-bottom:1px dotted silver;
}
.leftpanelmenuheaders
{
	float:left;
	width:100%;
}
.leftpanelmenuimage
{
	float:left;
	width:20px;
	height:25px;
	margin:2px 0 0 0;
}
.leftmenuheadernames
{
	float:left;
	width:120px;
	font-size:15px;
	font-weight:bold;
	text-align:left;
	margin:5px 0 0 3px;
}
.leftseperatemenu
{
	float:left;
	width:100%;	
}
.leftmenunamesTwo
{
	float:left;
	width:47px;
	text-align:left;
	margin:5px 0 0 20px;
	font-size:13px;	
}
.leftmenunamesTwo:hover .lnkLeftMenus
{
	
	background-color:#012e59;
	text-decoration:none;
	border-radius:2px 2px 2px 2px;
	padding:0 3px 0 2px;		
	color:White;
}
.leftoverduetask
{
	float:left;
	width:65px;
	font-size:12px;
	margin:7px 0 0 0;
}
.leftmenunames
{
	float:left;
	width:80px;
	text-align:left;
	margin:5px 0 0 20px;
	font-size:13px;		
}
.leftmenunames:hover .lnkLeftMenus
{
	float:left;
	background-color:#012e59;
	text-decoration:none;
	border-radius:2px 2px 2px 2px;
	padding:0 3px 0 2px;		
	color:White;
}
.leftmenunamesPro
{
	float:left;
	width:110px;
	text-align:left;
	margin:5px 0 0 20px;
	font-size:13px;		
}
.leftmenunamesPro:hover .lnkLeftMenus
{
	float:left;
	background-color:#012e59;
	text-decoration:none;
	border-radius:2px 2px 2px 2px;
	padding:0 3px 0 2px;		
	color:White;
}
.menuselected .lnkLeftMenus
{
	
	background-color:#012e59;
	text-decoration:none;
	border-radius:2px 2px 2px 2px;
	padding:0 3px 0 2px;		
	color:White;
}
.misreportpopup
{
	position:absolute;
	width:330px;
	background-color:#ffffff;
	padding:0px 0 20px 0;
	border-radius:5px 5px 5px 5px;
	display:none;
}
.mirreportlable
{
	float:left;
	width:120px;
	font-size:12px;
	text-align:left;
	min-height:2px;
	margin:5px 0 0 0;
}
.mirreporttext
{
	float:left;
	width:200px;
	position:relative;	
	text-align:left;
	font-size:13px;
	margin:0 0 0 10px;
}

/************* Body content center ******/
.mainbodycentercontainer
{
	float:left;
	width:61%;
	min-height:750px;	
    padding:0 0 10px 0;
	border-left:1px solid silver;
	border-right:1px solid silver;
}
.mainbodycentercontainerfull
{
	float:right;
	width:83%;
	min-height:750px;	
    padding:0 0 10px 0;
	border-left:1px solid silver;
}
.mainbodycentercontainer1
{
	float:left;
	width:61%;
	min-height:810px;	
    padding:0 0 10px 0;
	border-left:1px solid silver;
	border-right:1px solid silver;
}
.mainbodycentertopmenucontainer
{
	float:left;
	width:99%;
	margin:5px 0 0 5px;
}
.mainbodyinnercontainer
{
	float:left;
	width:99%;
	margin:0px 0 0 5px;
}
.topmenurollcontainer
{	
	float:left;
	width:100%;	
}
.topmenuroll
{
	float:left;
	padding:0 0 0 5px;
	font-size:13px;
}
.topuserdropdown
{
	float:right;
	padding:0 2px 0 0;
}
.mainbodymenucontainer
{
	float:left;
	width:100%;	
	height:29px;
	background-color:#f6f4f5;
	margin:10px 0 0 0;	
}
.mainbodymenuseperate
{
	float:left;
	width:105px;
	height:34px;
	margin:0 0 0 10px;
	background:url('../Images/btn1.png') no-repeat;
}
.mainseperate
{	
	background:url('../Images/btntwo.png') no-repeat;
}
.mainseperateforInstitutional
{	
	background:url('../Images/btntwo.png') no-repeat;
}
.mainbodymenu
{
	float:left;
	width:100%;	
	text-align:center;
}
.mainbodyinnercontentcontainer
{
	float:left;
	width:100%;
	margin:0px 0 0 0px;
}
.bodycontentboxcontainer
{
	float:left;
	width:100%;
	margin:10px 0 0 0;
	padding:10px 0 15px 0;
	border-top:1px solid #e8e7e7;
}
.contentboxstatuscontainer
{
	float:left;
	width:30px;
	height:30px;
}
.contentboxinnercontainer
{
	float:left;
	width:90%;
	margin:0 0 0 10px;
}
.contentboxtitlecontainer
{
	float:left;
	width:100%;
	font-size:14px;
	padding:0 0 5px 0;
}
.contentboxtitleinnercontainer
{
	float:left;
	width:80%;
}
.contentboxlefttitlecontainer
{
	float:left;
	width:40%;
}
.contentboxviewhistorycontainer
{
	float:left;
	width:50%;
	text-align:left;
	margin:15px 0 0 0;
}
.contentboxoverduecontainer
{
	float:left;	
	font-size:11px;
	padding:1px 2px 1px 2px;
	border-radius:2px 2px 2px 2px;
	background-color:red;
	color:White;
}
.contentboxoverduecontainerRight
{
	float:right;	
	font-size:11px;
	padding:1px 2px 1px 2px;
	border-radius:2px 2px 2px 2px;
	background-color:red;
	color:White;
}
.activityeventsleftfull
{
    float:left;
    width:100%;
    padding:0px 0 0px 0;
    text-align:center;
    font-size:15px;
    background-color:#f6f4f4;
    font-size:15px;
}
.contentboxcoldcontainer
{
	float:left;	
	font-size:11px;
	padding:1px 4px 1px 4px;
	border-radius:2px 2px 2px 2px;
	background-color:Green;
	color:White;
}
.contentboxcoldcontainerRight
{
	float:right;	
	font-size:11px;
	padding:1px 2px 1px 2px;
	border-radius:2px 2px 2px 2px;
	background-color:Green;
	color:White;
}
.contentboxorangecontainer
{
	float:left;	
	font-size:11px;
	padding:1px 2px 1px 2px;
	border-radius:2px 2px 2px 2px;
	background-color:Orange;
	color:White;
}
.contentboxorangecontainerRight
{
	float:right;	
	font-size:11px;
	padding:1px 2px 1px 2px;
	border-radius:2px 2px 2px 2px;
	background-color:Orange;
	color:White;
}
.contentboxtitlecontainer a
{
	color:#2970b4;
	text-decoration:none;
	cursor:pointer;
}
.contentboxtitlecontainer a:hover
{
	text-decoration:underline;
}
.contetnboxcontentcontainer
{
	clear:both;
	width:100%;
	font-size:13px;
}
.contetnboxpopbtn
{
	float:right;
	position:relative;
	width:12px;
	height:11px;
	text-align:right;
}
.contetnboxpopbtn:hover .arromenu
{
	display:block;
}
.contetnboxpopbtnLeads
{
	float:right;
	position:relative;
	width:12px;
	height:11px;
	padding:0 0 0 30px;
	text-align:right;
}
.contetnboxpopbtnLeads:hover .arromenu
{
	display:block;
}












/*****************************Admin*******************************/

/******************* Universal Style ***********************/
body 
{
    float:left;
    width:100%;
    margin:0 0 0 0;
    padding:0 0 0 0;
    font-family:Arial;
    font-family:Calibri;
}
ul li
{
	padding:0 0 0 0;
	margin:0 0 0 0;
	list-style:none;
}
input[type=select]
{
	min-height:100px;
	max-height:120px;
}
/************* Theme Style **********************************/
.centermaincontainer
{
    float:left;
    width:100%;
    min-height:450px;
}
.gridbutton
{    
    font-family:Calibri;
    font-size: 13px;
    height: 25px;        
    border: 1px solid #6593a3;
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    background-color:#024d94;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px #005f87;
    cursor: pointer;       
    margin:0 0 0 0;
}
/***************** Admin Banner Style ***********************/

.bannercontainer
{
    clear:both;
    float:left;
    width:100%;
    min-height:140px;
    /*background:url('../Images/Login_03.png') repeat-x;*/
}
.bannerinnercontainer
{
    float:left;
    width:100%;
}
.bannerlogocontainer
{
    float:left;
    width:171px;
    height:93px;
    margin:0 0 0 10px;
}

.bannerrightcontainer
{
    float:right;
    width:200px;
    }
.bannerlogoutcontainer
{
}

.bannerhomemenucontainer
{
   float:right;  
   width:150px;
   height:70px;   
}
.bannerhomeimg
{
  float:left; 
    text-align:right; 
    padding-right:10px;
}
.bannerUserImage
{
    text-align:center;
    padding-right:15px;
}
.BannerLogout
{
   padding-right:15px; 
}

.bannerhometxt
{
   float:left;
    padding:0 5px 0 0;
    margin:8px 0 0 0;
    font-size:12px;
    color:#000000;
    text-align:center;
}
/***************** Inner Page Style ****************/
.admininnercontainer
{
    clear:both;
    width:900px;
    margin:10px auto;
}
.admincontentcontainer
{
    float:left;
    width:100%;
    min-height:100px;
}
.adminpagetitlecontainer
{
    float:left;
    width:100%;
    text-align:center;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
}
.adminpagegridcontainer
{
    float:left;
    width:100%;
    margin:30px 0 0 0;
}
.adminCommonGridContainer
{
    clear:both;
    width:80%;
    margin:30px auto;
}
.admingridsearchcontainer
{
    float:left;
    width:100%;
    min-height:10px;
}
.pro_ddl_search
{
	float:left;
	width:153px;	
	height:20px;	
	margin:3px 0 0 1px;
	border:1px solid gray;
}
.pro_searchtext
{
	float:left;
	width:190px;
	padding-left:3px;
	height:20px;
	margin:3px 0 0 0;
	border:1px solid gray;	
}
.gridsearch_txt
{
    float:left;
}
.gridsearch_pic
{
    float:right;
}
.gridbtncontainer
{
    float:right;
    width:300px;
    margin:0 0 0 0;
    padding:0 0 0 0;
    text-align:right;
}
.admingridcontainer
{
    clear:both;
    width:100%;     
}
.adminwelcomeinnercontainer
{
    clear:both;
    width:600px;
    margin:10px auto;    
}
.adminwelcomecontainer
{
    float:left;
    width:98%;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    color:#ffffff;
    padding:5px 5px 5px 5px;
    margin:150px 0 0 0;    
    background-color:#154054;
    border-radius:5px;
}
/*********** Grid Style ***********************/
.gridheader
{
    background-color:#0354a6;
    font-size:12px;  
    font-family:Arial;
    /*font-weight:bold;*/
    height:25px;
    color:#ffffff;
}
.gridheader th
{
    border:1px solid #000000;
}
.gridrow
{
    background-color:#f1eded;
    font-size:12px;
    font-family:Arial;   
    color:#000000;
}
.gridrow:hover
{
    background-color:#e1eaf3;
    font-size:12px;
    font-family:Arial;   
    color:#000000;
}
.gridalterrow
{
    background-color:#ffffff;
    font-size:12px;
    font-family:Arial;   
    color:#000000;
}
.gridalterrow:hover
{
     background-color:#e1eaf3;
    font-size:12px;
    font-family:Arial;   
    color:#000000;
}
.adminpagerstyle
{   
    padding:5px 0 5px 0;
}
.adminpagerstyle tr td 
{   
    float:left;
   padding:0 5px 0 5px;
   margin:0 0 0 2px;
   text-align:center;
    background-color:#a7c0dc;
   color:#000000;      
}
.adminpagerstyle tr td span
{
    padding:0 0 0 0;
    margin:0;
    font-size:12px;
}
.adminpagerstyle tr td a
{   
    float:left;
    width:100%;
    padding:0px 0 0px 0;
    font-size:12px;   
    margin:0 0 0 0;   
    color:#ffffff; 
         
}
/********************* Common controls *****************/
adminlabelReg
{
    float:left;
    width:100px;
    text-align:left;
    min-height:5px;
    font-size:12px;
    padding:0 0 0 50px;
}

/**************** Admin Page Message *******************/
.adminpagemessagesuccesscontainer
{  
    clear:both;
    position:absolute;    
    width:350px;     
    text-align:center;   
    margin:0px 0 0 350px;
    padding:5px 0 5px 0;
    background-color:#dae8db;   
    z-index:99;  
    border:solid 1px green;
    opacity:0.9;
    filter:'alpha(80)';
    border-radius:4px 4px 4px 4px;
}
.adminpagemessagesuccesscontainer:hover
{
     background-color:#bbe3b9; 
}
.adminpagemessageerrorcontainer
{  
    clear:both;
    position:absolute;   
    width:350px;     
    text-align:center;   
     margin:0px 0 0 350px;
    padding:5px 0 5px 0;
    background-color:#ffe2b9;   
    z-index:99;  
    border:solid 1px #fad00b;
    opacity:0.9;
    filter:'alpha(10)';
    border-radius:4px 4px 4px 4px;
}
.adminpagemessageerrorcontainer:hover
{
    background-color:#f7cab5;   
}
.adminpagemessagewarningcontainer
{
    clear:both;
    position:absolute;   
    width:350px;     
    text-align:center;   
    margin:0px 0 0 350px;
    padding:5px 0 5px 0;
    background-color:#efead1;   
    z-index:99;  
    border:solid 1px #6ca7c0;
    opacity:0.9;
    filter:'alpha(10)';
    border-radius:4px 4px 4px 4px;
}
.adminpagemessagewarningcontainer:hover
{
     background-color:#d9e4f0;
}
.adminpagemessageinfocontainer
{ 
    clear:both;
    position:absolute;   
    width:350px;     
    text-align:center;   
    margin:0px 0 0 350px;
    padding:5px 0 5px 0;
    background-color:#d5e2f1;   
    z-index:99;  
    border:solid 1px #3f1b89;
    opacity:0.9;
    filter:'alpha(10)';
    border-radius:4px 4px 4px 4px;
}
.adminpagemessageinfocontainer:hover
{
     background-color:#d9e4f0;
}
.adminpagemessage
{
    float:left;  
    width:90%;    
    font-family:Arial;
    font-size:13px;   
    color:#000000;
    font-weight:bold;
    text-align:center; 
}
.adminmessageclose img:hover
{
    cursor:pointer;
   
}
.adminmessageclose.green img:hover
{
    cursor:pointer;
   
}
.adminmessageclose.brown img:hover
{
    cursor:pointer;
   
}
.adminmessageclose.blue img:hover
{
    cursor:pointer;
   
}
.adminpagemessage.error
{
    float:left;  
    width:90%;
    font-size:13px;  
    color:#000000; 
    text-align:center; 
}
.adminpagemessage.warning
{
    float:left;  
    width:90%;
    font-size:13px;  
    color:#000000;  
    text-align:center; 
}
.adminpagemessage.info
{
    float:left;  
    width:90%;
    font-size:13px;  
    color:#000000;   
    text-align:center; 
}
.adminmessageclose
{
    float:right;
    width:16px;
    height:16px;     
    padding:0px 10px 0 0;  
}
.divForgotTextContainer
{
    clear:both;
    float:left;
    width:100%;
    height:8px;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    text-align:center;   
}
/********* Admin Function Page Style ******************/
.adminfunctioninnercontainer
{
    clear:both;
    width:450px;
    margin:10px auto;    
}
.adminfunctioncontainer
{
    float:left;
    width:100%;
    margin:30px 0 0 0;
}
.adminfunctionrow
{
    float:left;
    width:100%;
    margin:0 0 10px 0;  
}
.adminlabel
{
    float:left;
    width:120px;
    text-align:left;
    min-height:5px;
    font-size:12px;
    padding:0px 0px 0px 3px;
}
.admininput
{
    float:left;
    width:300px;
    text-align:left;
}
/*******************************UNIVERSITY********************************/
.adminunivlable
{
    float:left;
    width:130px;
    text-align:left;
    min-height:5px;
    font-size:12px;
    padding:4px 0 0 0;
}

/**************For Bind Admin Menu  **************************/
.Menus
{
    clear:both;
    float:left;
    width:100%;  
    min-height:10px;
    margin:5px 0 0 0; 
    border-radius:5px;
    background-color:#e9e8e8;
}
#Menu
{
    float:left;
    width:100%;
    min-height:20px;
    padding:0px;
    margin:0px;    
    background-color:transparent;
}
#Menu ul
{
    padding:0px;
    margin-top:0px;
    margin-left:0px;   
}
#Menu ul li
{
    float:left;               
    margin:0 0 0 20px;    
    font-family:Calibri;
    font-size:12px;    
}
#Menu li
{
    position:relative;
    list-style:none;
    float:left;
    text-align:center;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
#Menu li a
{  
    float:left;          
    padding:5px;
    text-decoration:none;
    text-align:center;   
    background-color:transparent;
    color:#0354a6;
    font-weight:bold;  
    display:block;        
    font-size:13px;
}
#Menu li a:hover
{
    background-color: #0354a6;
    color:White;
    border-radius:5px; 
    z-index:2000;
}

#Menu ul li ul
{
    float:left;           
    z-index:99999;        
    margin:0px;
    padding:0px;
    display:none;
}
#Menu ul li ul li
{
    float:left;  
    margin:0px;
    padding:0px;    
    width:130px;        
}

#Menu ul li ul li a
{      
    color:#2944ad;   
    width:95%;
    font-weight:bold;
    font-size:12px;   
    margin:0 0 0 0;    
    text-align:left;
    text-decoration:none;   
    background-color:#ebebeb;
    border-top:1px solid #dddddd;   
    z-index:1000px;
}
#Menu ul li ul li a:hover
{   
    text-decoration:none;   
    background-color:#0354a6;   
    border-radius:5px;       
    color:White;
    cursor:pointer;   
}
#Menu ul li:hover ul
{
    display:block;    
    top:25px;   
    left:0px;
    position:absolute;  
}
#menuh li .AdminmenuSelected
{    
    background-color:#0354a6;          
    color :White; 
    border-radius:5px;
}


/****************************Sub Menu*********************/

#Menu ul li ul li ul
{
    float:left;           
    z-index:99999;        
    margin-left:0px;
    padding:0px;
    display:none;
    border:solid 1px red;
}
#Menu ul li ul li ul li
{
    float:left;  
    margin-left:130px;
    padding:0px;    
    width:130px;        
}

#Menu ul li ul li ul li a
{      
    color:#2944ad;   
    width:95%;
    font-weight:bold;
    font-size:12px;   
    margin:0 0 0 0;    
    text-align:left;
    text-decoration:none;   
    background-color:#ebebeb;
    border-top:1px solid #dddddd;   
    z-index:1000px;
}
#Menu ul li ul li ul li a:hover
{   
    text-decoration:none;   
    background-color:#0354a6;   
    border-radius:5px;       
    color:White;
    cursor:pointer;   
}
#Menu ul li ul li:hover ul
{
    display:none;    
    top:25px;   
    left:130px;
    position:absolute;  
}
#menuh li ul li .AdminmenuSelected
{    
    background-color:#0354a6;          
    color :White; 
    border-radius:5px;
}


 


/*********************************************************/

 .spacediv
 {
     width:100%;
     height:40px;
 }
 /* cohort Admin portal */

 .cohortfunctioninnercontainer
{
    clear:both;
    width:480px;
    margin:10px auto;    
}
 .CohortlableName
{
    float:left;
    width:145px;
    text-align:left;
    min-height:5px;
    font-size:12px;
    padding:4px 0 0 0;
}
.adminfunctionrowCHK
{
    float:left;
    width:100%;
    margin:0 0 10px 0; 
    font-size:12px; 
}
.siglelineFee
{
    float:left;
    width:100%;
     height:2px;
    margin-bottom:10px;   
    border-bottom:1px Solid gray;
}

/******************************Product*************************************/

.centeroutercontainer
{
    float:left;
    width:1000px;
    margin-top:10px;
}
.singleitemcontainer
{
    float:left;
    width:200px;
    margin:20px;
}
.headercontent
{
    float:left;
    width:100%;
    text-align:center;
    font-weight:bold;
}
.itemheader
{
    float:left;
    width:100%;
    text-align:center;
    font-weight:bold;
    font-size:12px;
    margin:5px;
}
.btncellcontainer
{
    float:right;
    width:250px;
    margin:90px 1px 1px 1px;
}
.showproductdetails
{
    float:left;
    width:1000px;
    margin-top:30px;
    margin-bottom:30px;
}
.productimagebox
{
    float:left;
    width:300px;
    height:200px;
}
.productdetailcontainer
{
   /* float:left;  */
    
}
.EmptySpacer 
{
    
}
.RowContainerGrid 
{
    width:700px;
    height:150px;
    padding:10px 100px 10px 100px;
}
.SingleContainerLeft
{
    float:left;
    width:350px;
}
.SingleContainerRight
{
    float:right;
    width:350px;
}
.productdetailleft
{
    float:left;
    width:150px;
    margin-bottom:5px;
    font-weight:bold;
}
.productdetailright
{
    float:left;
    width:200px;
    margin-bottom:5px;
}
.StockPanelSubmit
{
    text-align:center;
}
/****************************************Grid Dashboard Style*********************************/

.ClientReportgridheader
{
    background-color:#8db4e3;
    font-size:12px;  
    font-family:Calibri;
    font-weight :bold ;
    height:25px;
    color:#000000;
    text-align :center ;
    
}
.ClientReportgridrow
{
    background-color:#c5d9f1;
    font-size:12px;
    font-family:Calibri;   
    color:#000000;
    border:0px;
    height:25px;
    text-align :center ;
    /*border-bottom:1px solid #E8E7E7;*/
}

.ClientDashboardgridrow
{
    background-color:#c5d9f1;
    font-size:12px;
    font-family:Calibri;   
    color:#000000;
    border:0px;
    height:25px;
    text-align :center ;
    border-width : 0px;
   
    /*border-bottom:1px solid #E8E7E7;*/
}
.gridTextboxqty
{
    text-align:center;
}
.testborder 
{
     border: none !important;
}
.ClientReportgridalterrow
{
    background-color:#8db4e3;
    font-size:12px;
    font-family:Calibri;   
    color:#000000;
    border:0px;
    height:25px;
    text-align :center ;
    /*border-bottom:1px solid #E8E7E7;*/
}
.ClientReportPagerStyle
{   
    padding:5px 0 5px 0;
    background-color:#93acc8;
}
.ClientReportPagerStyle tr td 
{   
    float:left;
   padding:0 5px 0 5px;
   margin:0 0 0 2px;
   text-align:center;
    background-color:#a7c0dc;
   color:#000000;      
}
.ClientReportPagerStyle tr td span
{
    padding:0 0 0 0;
    margin:0;
    font-size:12px;
}
.ClientReportPagerStyle tr td a
{   
    float:left;
    width:100%;
    padding:0px 0 0px 0;
    font-size:12px;   
    margin:0 0 0 0;   
    color:#ffffff; 
         
}
/*Asp Common controls*/
.ListBoxStyle
{
    width:200px;
    color:#012e59;  
    selecteditembackcolor:#012e59;  
}
.ListBoxStyle option {
    /*background-color: #012e59;*/
    color: #012e59;
    font-weight:bold;
}
/*********************************************Grid For Admin***************************/
/*********** Grid Style ***********************/
.gridheader
{
    background-color:#265080;
    font-size:12px;  
    font-family:Arial;
    /*font-weight:bold;*/
    height:25px;
    color:#ffffff;
}
.gridheader th
{
    border:1px solid #000000;
}
.gridrow
{
    background-color:#f1eded;
    font-size:12px;
    font-family:Arial;   
    color:#000000;
}
.gridrow:hover
{
    background-color:#d4d4d4;
    font-size:12px;
    font-family:Arial;   
    color:#000000;
}
.gridalterrow
{
    background-color:#e1eaf3;
    font-size:12px;
    font-family:Arial;   
    color:#000000;
}
.gridalterrow:hover
{
     background-color:#ddebf9;
    font-size:12px;
    font-family:Arial;   
    color:#000000;
}
.adminpagerstyle
{   
    padding:5px 0 5px 0;
}
.adminpagerstyle tr td 
{   
    float:left;
   padding:0 5px 0 5px;
   margin:0 0 0 2px;
   text-align:center;
    background-color:#a7c0dc;
   color:#000000;      
}
.adminpagerstyle tr td span
{
    padding:0 0 0 0;
    margin:0;
    font-size:12px;
}
.adminpagerstyle tr td a
{   
    float:left;
    width:100%;
    padding:0px 0 0px 0;
    font-size:12px;   
    margin:0 0 0 0;   
    color:#ffffff; 
         
}

/***********************************PageMessage****************************************/
/**************** Admin Page Message *******************/
.adminpagemessagesuccesscontainer
{  
    clear:both;
    position:absolute;    
    width:350px;     
    text-align:center;   
    margin:0px 0 0 350px;
    padding:5px 0 5px 0;
    background-color:#dae8db;   
    z-index:99;  
    border:solid 1px green;
    opacity:0.9;
    filter:'alpha(80)';
    border-radius:4px 4px 4px 4px;
}
.adminpagemessagesuccesscontainer:hover
{
     background-color:#bbe3b9; 
}
.adminpagemessageerrorcontainer
{  
    clear:both;
    position:absolute;   
    width:350px;     
    text-align:center;   
     margin:0px 0 0 350px;
    padding:5px 0 5px 0;
    background-color:#ffe2b9;   
    z-index:99;  
    border:solid 1px #fad00b;
    opacity:0.9;
    filter:'alpha(10)';
    border-radius:4px 4px 4px 4px;
}
.adminpagemessageerrorcontainer:hover
{
    background-color:#f7cab5;   
}
.adminpagemessagewarningcontainer
{
    clear:both;
    position:absolute;   
    width:350px;     
    text-align:center;   
    margin:0px 0 0 350px;
    padding:5px 0 5px 0;
    background-color:#efead1;   
    z-index:99;  
    border:solid 1px #6ca7c0;
    opacity:0.9;
    filter:'alpha(10)';
    border-radius:4px 4px 4px 4px;
}
.adminpagemessagewarningcontainer:hover
{
     background-color:#d9e4f0;
}
.adminpagemessageinfocontainer
{ 
    clear:both;
    position:absolute;   
    width:350px;     
    text-align:center;   
    margin:0px 0 0 350px;
    padding:5px 0 5px 0;
    background-color:#d5e2f1;   
    z-index:99;  
    border:solid 1px #3f1b89;
    opacity:0.9;
    filter:'alpha(10)';
    border-radius:4px 4px 4px 4px;
}
.adminpagemessageinfocontainer:hover
{
     background-color:#d9e4f0;
}
.adminpagemessage
{
    float:left;  
    width:90%;    
    font-family:Arial;
    font-size:13px;   
    color:#000000;
    font-weight:bold;
    text-align:center; 
}
.adminmessageclose img:hover
{
    cursor:pointer;
   
}
.adminmessageclose.green img:hover
{
    cursor:pointer;
   
}
.adminmessageclose.brown img:hover
{
    cursor:pointer;
   
}
.adminmessageclose.blue img:hover
{
    cursor:pointer;
   
}
.adminpagemessage.error
{
    float:left;  
    width:90%;
    font-size:13px;  
    color:#000000; 
    text-align:center; 
}
.adminpagemessage.warning
{
    float:left;  
    width:90%;
    font-size:13px;  
    color:#000000;  
    text-align:center; 
}
.adminpagemessage.info
{
    float:left;  
    width:90%;
    font-size:13px;  
    color:#000000;   
    text-align:center; 
}
.adminmessageclose
{
    float:right;
    width:16px;
    height:16px;     
    padding:0px 10px 0 0;  
}
.divForgotTextContainer
{
    clear:both;
    float:left;
    width:100%;
    height:8px;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    text-align:center;   
}



.centermaincontaineryle
{
    width:100%;
    float:left;
    
}
.centertitleheader
{
    float:left;
    text-align:center;
    font-family:Calibri;
    font-weight:bold;
    width:90%;
    margin-top:10px;
    margin-left: 40px;
}

.divViewAllList
{
    float:right;
    width:100%;
    text-align:right;
    height:30px;
}
/************************************Profile***************************************/

.profilecentercontainer
{
  margin:0 auto;
  width:380px;
  margin-top:50px;
}
.divprofsinglecontainer
{
    float:left;
    width:100%;
    margin-bottom:10px;
}
.divprofleftcontainer
{
    float:left;
    width:120px;
    margin-right:5px;
    font-family:Calibri;
    font-size:14px;
    margin-left:55px;
}
.divprofrightcontainer
{
    float:left;
    width:190px;
}

/***********************************************Pop Up Details************************************/

 .BalanceCenterContainer
    {
        margin:0 auto;
        width:700px;
    }
    
    .showviewallDetailpopup
    {
         margin:0 auto;
	position:absolute;
	width:700px;
	background-color:#ffffff;
	padding:0px 0 20px 0;
	border-radius:5px 5px 5px 5px;	
	display:none;
    }
    .reportclose
{
    float: left; 
    width: 98%; 
    height: 100%; 
    margin-top: 5px; 
    text-align: right;
    cursor: pointer;
}
.viewallpopupheader
{
	clear:both;
	float:left;
	width:100%;
	text-align:center;
	margin:0 0 10px 0;
	font-size:15px;
	font-weight:bold;
}
.viewallinnercontainerpopup
{
    float:left;
    width:95%;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:10px;
    min-height:80px;
}
.balancedetailpopcontent
{
    width:65%;
   float:left;
   margin-left:165px;
  height:50px;
}
.balancepopsingle
{
    float:left;
    width:200px;
    font-size:14px;
}

/**********************************Site Management Billing***************************/
.SiteManageMScentercontainer
{
  margin:0 auto;
  width:380px;
  margin-top:50px;
}
.divSiteManageMSsinglecontainer
{
    float:left;
    width:100%;
    margin-bottom:10px;
}
.divSiteManageMSleftcontainer
{
    float:left;
    width:120px;
    margin-right:5px;
    font-family:Calibri;
    font-size:14px;
    margin-left:55px;
}
.divSiteManageMSrightcontainer
{
    float:left;
    width:190px;
}

.ProgressPageOverlay
{
    position: absolute;
 background-color: AppWorkspace;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 100%;
 opacity: 0.3;
 -moz-opacity: 0.80;
 filter: alpha(opacity=30);
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 z-index: 10000;
}
.ProgressImage
{
    text-align:center;
     margin-left: 600px;
    margin-top: 300px;
}