.footerdefault
{
	float:left;
	width:100%;
}
.innerfooter
{
	float:left;
	height:30px;
	width:100%;
	background-color:Black;

    }
    
    .footerlefttext
    {
        float:left;
        height:20px;
        width:40%;
        margin:0 0 0 5px;
        font-family:Calibri;
        font-size:12px;
        color:White;
        margin-top:8px;
    }   

.Inscoltext
{
		float:left;
        height:20px;
        width:58%;
        font-family:Calibri;
        font-size:12px;
        text-align:center;
        color:#79a1cb;
        margin-top:8px;
}
.xlicontext
{
    float:right;
        height:20px;
        width:11%;
        font-family:Calibri;
        font-size:12px;
        color:white;
        text-align:right;
        padding:0 5px 0 0;
        margin-top:8px;
}
.txtINSCOLdesign
{      
        font-family:Calibri;
        font-size:12px;
        color:#79a1cb;
}
.textxliconlink
{
    color:#ffffff;
    font-family:Calibri;
        font-size:12px;
        text-decoration:none;
}
.textxliconlink:hover
{
    cursor:pointer;
    text-decoration:underline;
}